<div class="col-md-3 col-sm-4 col-xs-6">
	<div class="row input-padding">
		<div class="col-md-12"><img src="" class="img-responsive img-thumbnail user_photo" ></div>
		<div class="col-md-12 first_name"></div>
		<div class="col-md-12 email"></div>
	</div>
</div>