<div class="panel panel-default">
	<div class="panel-heading">
        <h3 class="panel-title"><strong>Recent Birthdays</strong></h3>
    </div>
    <div class="panel-body">
		    <div class="row">
				<%@user_birthday_recent.each do |user| %>
					<div class="col-md-4 col-xs-6 col-sm-3">
						<div class="border-box">
							<div class="row">
							  	<div class="col-md-12"><%= image_tag user.user_pic.url(:thumb),class:'img-responsive img-thumbnail' %>
							  	</div>	
								<div class="col-md-12">
									<strong><%= user.first_name %> <%= user.last_name %></strong>
								</div>
								<div class="col-md-12">
										<% @bday = user.dob %>
										<% if user.dob.day==Date.today.day %>
											 Today
										<% elsif user.dob.day==(Date.today + 1.days).day %>
											 Tomorrow
										<%else%>
											<%= @bday.strftime("%B %d") %>
										<%end%>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
	</div>
</div>


